/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

* {
  margin: 0;
  box-sizing: border-box;
  line-height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  font-size: 18px;
  color: #1F2937;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
}


header {
  background-color: #1F2937;
  color: #fff;
  
}

.header_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a {
  margin-right: 15px;
}

nav a:last-child {
  margin-right: none;
}

#banner {
  background-color: #1F2937;
}

.banner {
  
  min-height: 450px;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_content {
  width: 40%;
}


.banner h1 {
  font-size: 48px;
  font-weight: 900px;
}

.banner_content p {
  line-height: 180%;
}

.banner_content p {
  margin-top: 15px;
}

.banner a {
  display: block;
  width: 130px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  background-color: #3882F6;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
}

.banner_img {
  width: 50%;
}

.banner_img img {width: 100%;}



#middle {
  min-height: 500px;
  padding: 50px 0;
}


.mid_content {
  text-align:  center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.mid_boxes {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 200px;
  margin-top: 60px;
}

.mid_boxes section {
  width: 22%;
}

.mid_boxes section img {
  width: 100%;
  border-radius: 10px;
}

.mid_boxes section p {
  margin-top: 15px;
  line-height: 150%;
}


#bottom {
  background-color: #E5E7EB;
  min-height: 430px;
  padding: 140px 0;
}

.btm_content blockquote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
  padding: 0 200px;
}

.btm_content cite {
  font-size: 24px;
  font-weight: bold;
  display: block;
  text-align: right;
}